md-grid-tile {
  background: lightblue;
}

button {
  margin-bottom: 10px;
}

.home-header {
  height: 10%;
}

img {
  margin: auto;
  display: block;
  width: 30%;
}

#login-button {
  float: right;
}
